.divPadre {
  display: flex;
  flex-direction: row;
}
.divCard1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  width: 48%;
}

.divCard2Scroll {
  justify-content: center;
  overflow: scroll;
  height: 400px;
  width: 100%;
  background-color: #201531;
  border-radius: 5px;
  border: 1px solid #8354c9;
}
.divCard2Scroll > table {
  /* height: 400px; */
  width: 100%;
  background-color: #201531;
}
.divCard2 {
  justify-content: center;
  height: 400px;
  width: 48%;
}
.divCard2 > h1 {
  color: #8354c9;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}
.contries_table {
  table-layout: fixed;
}
.element {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.body_cards {
  background-color: #3F3351;
}
.element_card {
  display: flex;
  padding: 1rem 0px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 94%;
  height: 500px;
  border-radius: 15px;
  background-color: #201531;
  gap: 50px ;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.element_card div p {
  color: #8354c9;
  margin: 5px;
}

.element_card div h2 {
  color: #8354c9;
  margin: 5px;
}
.card_img {
  height: 200px;
  overflow: hidden;
}
.card_img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contries_table tbody tr td {
  background-color: #201531;
  color: #8354c9;
}
.contries_table thead tr th {
  background-color: #190f29;
  font-size: 20px;
  color: #9f67f3;
  /* border: 10px solid #9f67f3 */
}
.divCard2Scroll::-webkit-scrollbar{
  width: 7px;
}
.divCard2Scroll::-webkit-scrollbar-thumb{
  background: #9f67f3;
  border-radius: 5px;
}