.Card_delete{    
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.Card_delete1{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    gap: 1rem;
  }
.card_div_centrado {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0px;
    background-color: #201531;
    width: 94%;
    height: 380px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.card_div_centrado > h1{
  margin: 10px;
    color: #fff;
}
.div_table{
  justify-content: "center";
  overflow: scroll;
  height: 270px;
  width: 94%;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
}
.div_table thead tr th{
    background-color: white;
}
.div_table tbody tr td{
    background-color: white;
}
table.activities_table {
  border-radius: 5px;
  table-layout: fixed;
  width: 100%;
  background-color: #fff;
}
.group_btn_delete {
    background: white;
  }

.group_btn_delete > button {
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid #7d1aaa;
    padding: 4px 8px;
    background: #7d1aaa;
    font-size: 18px;
    color: whitesmoke;
  }
  .group_btn_delete > button:hover {
    background: #551374;
  }