.padre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 30px;
  background-color: #201531;
}
.group_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.group_btn > p {
  color: #8280ff;
}
.group_btn > button {
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: 1px solid #4a498f;;
  padding: 8px 16px;
  background: #4a498f;;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.group_btn > button:hover {
  background: #8280ff
}
#season {
  width: 200%;
}
.divTextSelect {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.divTextSelect > input {
  width: 50%;
  background-color: #fff;
}
.divSelctSeason {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
}
.divSelctSeason > select {
  width: 100%;
  background-color: #fff;
}
.divTextRange {
  display: flex;
  flex-direction: row;
  color: #4a498f;
  justify-content: center;
  background-color: #201531;
}
.div_colum_input input{
  width: 100%;
}
.div_colum_input{
  width: 100%;
}
.card1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem 0px;
  background-color: #201531;
  width: 94%;
  height: 420px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

#div_row {
  display: flex;
  flex-direction: row;
  width: 600px;
}
#div_colum {
  padding: 0px 0.5rem;
  flex-direction: column;
  justify-content: right;
  width: 200px;
}
#div_colum > h4 {
  color: #9f67f3;
}
#div_input {
  padding: 0px 0.5rem;
  width: 150px;
  color: #fff;
}
#div2 {
  height: 300px;
  width: 50%;
}
#div1 {
  justify-content: center;
  overflow: scroll;
  height: 300px;
  width: 50%;
  background-color: #201531;
  border-radius: 5px;
  border: 1px solid #8354c9;
  margin-right: 40px;
}
.card1 form h1{
  color: #9f67f3;
}
.card1 form{
  width: 100%;
}
#div1 table tbody tr td {
  background-color: #201531;
  color: #8354c9;
}
#div1 table thead tr th {
  background-color: #190f29;
  font-size: 20px;
  color: #9f67f3;
}
#div1::-webkit-scrollbar{
  width: 7px;
}
#div1::-webkit-scrollbar-thumb{
  background: #8354c9;
  border-radius: 5px;
}