.divLanding{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.divCabecera h1{
  /* padding: 0px 0.5rem; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px; 
}
.divCuerpo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #1F1D36;
  gap: 50px;
  height: 440px;
  /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); */
  /* border: 1px solid red; */
  }
.divCuerpo span{
  position: absolute;
  display: block;
}
.divCuerpo span:nth-child(1){
  top: 0px; 
  left: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, transparent, #8354c9);
  animation: animate1 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate1_l{
  0%{
    left: -100%;
  }
  50%, 100%{
    left: 100%;
  }
}
.divCuerpo span:nth-child(2){
  top: 440px; 
  right: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(270deg, transparent, #8354c9);
  animation: animate3 1s linear infinite;
  animation-delay: 1.5s;
}
.group_btn1 {
  background: #1F1D36;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.group_btn1 > button {
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: 1px solid #8280ff;
  padding: 8px 16px;
  background: #8280ff;
  font-size: 18px;
  color: whitesmoke;
}
.group_btn1 > button:hover {
  background: #4a498f;
}
.divDescripcion {
  padding: 0px 0.5rem;
  flex-direction: column;
  justify-content: right;
  background: #1F1D36;
}

.divDescripcion > h3 {
  background: #1F1D36;
  color: #fff;
}

.divCabecera > h1 {
  font-size: 400%;
  color: #fff;
}
.card_image {
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
}

.card_image img{
  bottom: 0px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 0 0 25px #8354c9;
  z-index: 1;
}
.card_image img:hover{
  box-shadow: 0 0 10px #8354c9,
  0 0 30px #8354c9,
  0 0 50px #8354c9;
}
.divreflejo{
  display: flex;
  align-items: center;
  width: 100%;
  height: 500px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}